html {
  font-size: 120%;
  line-height: 1.5;
  color: #222;
  text-rendering: optimizeLegibility; }

body {
  font-size: 20px;
  line-height: 1.5;
  background-color: #fdfdfd; }

section#chatbot {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 30px;
  width: 100%;
  max-width: 600px;
  margin: 15px auto; }
  section#chatbot article#conversation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 15px 0; }
    section#chatbot article#conversation p,
    section#chatbot article#conversation figure {
      line-height: 30px;
      display: inline-block;
      max-width: 570px;
      margin: 0 15px;
      margin-top: 15px;
      border-radius: 0.30rem;
      transition: visibility .5s ease-out;
      animation: 1s ease-in-out fade-in; }
      section#chatbot article#conversation p a,
      section#chatbot article#conversation p a:visited,
      section#chatbot article#conversation figure a,
      section#chatbot article#conversation figure a:visited {
        color: #03a9f4;
        text-decoration: none;
        outline: none;
        border-bottom: 1px solid #03a9f4; }
      section#chatbot article#conversation p a:hover,
      section#chatbot article#conversation p a:focus,
      section#chatbot article#conversation p a:active,
      section#chatbot article#conversation figure a:hover,
      section#chatbot article#conversation figure a:focus,
      section#chatbot article#conversation figure a:active {
        opacity: .5; }
      section#chatbot article#conversation p img,
      section#chatbot article#conversation figure img {
        display: block;
        max-width: 150px;
        border-radius: 0.30rem; }
      section#chatbot article#conversation p figcaption,
      section#chatbot article#conversation figure figcaption {
        text-align: right;
        font-size: 0.66667rem;
        opacity: .5;
        padding: 0 .5rem; }
    section#chatbot article#conversation figure {
      margin-top: 30px; }
    section#chatbot article#conversation .dr27 {
      align-self: flex-start; }
    section#chatbot article#conversation .user {
      align-self: flex-end;
      color: crimson; }
      section#chatbot article#conversation .user figcaption {
        text-align: left; }
  section#chatbot .avatar {
    display: flex; }
    section#chatbot .avatar img,
    section#chatbot .avatar figcaption {
      display: inline-flex;
      align-self: center;
      justify-content: space-between;
      align-items: center; }
    section#chatbot .avatar img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      margin: 0 7.5px; }
    section#chatbot .avatar figcaption {
      padding: 0 15px;
      border-radius: 0.60rem;
      width: 60px;
      height: 30px;
      animation: 1s ease-in-out fade-in; }
    section#chatbot .avatar figcaption span {
      background-color: currentcolor;
      width: 5px;
      height: 5px;
      border-radius: 50%; }
    section#chatbot .avatar figcaption.think span:nth-of-type(1) {
      animation: 1.5s infinite think1; }
    section#chatbot .avatar figcaption.think span:nth-of-type(2) {
      animation: 1.5s infinite think2; }
    section#chatbot .avatar figcaption.think span:nth-of-type(3) {
      animation: 1.5s infinite think3; }
  section#chatbot .avatar#dr27 {
    justify-content: flex-start; }
    section#chatbot .avatar#dr27 figcaption {
      display: inline-flex;
      background-color: #f0f0f0;
      color: #414141; }
    section#chatbot .avatar#dr27 figcaption.hide {
      display: none; }
    section#chatbot .avatar#dr27 img {
      transform: rotate(0deg);
      transition: transform .5s; }
    section#chatbot .avatar#dr27 img.asking {
      transform: rotate(10deg); }
  section#chatbot .avatar#user {
    justify-content: flex-end; }
    section#chatbot .avatar#user img {
      display: block;
      background-color: crimson;
      color: #fafafa;
      border: none;
      padding-top: 5px; }
    section#chatbot .avatar#user figcaption {
      display: inline-flex;
      background-color: crimson;
      color: #fafafa; }
    section#chatbot .avatar#user figcaption.hide {
      display: none; }
  section#chatbot ul#input {
    display: flex;
    margin: 0 30px;
    justify-content: space-around;
    flex-flow: row wrap;
    animation: 1s ease-in-out fade-in; }
    section#chatbot ul#input li {
      line-height: 30px;
      padding-bottom: 15px;
      width: 100%;
      text-align: center; }
      section#chatbot ul#input li button,
      section#chatbot ul#input li form {
        font-family: "Merryweather", Georgia, sans-serif;
        font-size: 20px;
        line-height: 30px; }
      section#chatbot ul#input li button {
        padding: 0 15px;
        background-color: crimson;
        border-radius: 0.30rem;
        color: #fafafa; }
      section#chatbot ul#input li button:hover {
        opacity: .5; }
      section#chatbot ul#input li form label {
        display: flex;
        justify-content: center; }
        section#chatbot ul#input li form label input[type="text"] {
          width: 100%;
          font-family: "Merryweather", Georgia, sans-serif;
          border: none;
          outline: none;
          border-bottom: 1px solid crimson; }
        section#chatbot ul#input li form label button {
          border-radius: 0 0.30rem 0.30rem 0; }
  section#chatbot ul#input.hide {
    display: none; }
  section#chatbot nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    section#chatbot nav button#play {
      line-height: 30px;
      padding: 0 15px;
      margin: 15px 0;
      background-color: crimson;
      border-radius: 0.30rem;
      color: #fafafa; }
    section#chatbot nav button#play:hover {
      opacity: .5; }

@keyframes think3 {
  0%, 100%, 50% {
    transform: scale(1); }
  75% {
    transform: scale(1.5); } }
@keyframes think2 {
  0%, 100%, 25% {
    transform: scale(1); }
  50%, 75% {
    transform: scale(1.5); } }
@keyframes think1 {
  0%, 100% {
    transform: scale(1); }
  50%, 75% {
    transform: scale(1.5); } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.grid {
  display: block;
  display: none;
  position: fixed;
  left: 0px;
  right: 0px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0px;
  height: 100%;
  background: linear-gradient(rgba(0, 119, 179, 0.2) 1px, transparent 1px) left bottom/30px 30px; }

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
